<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>tp_framework</name>
    <displayName><![CDATA[&Sigma;&kappa;&epsilon;&lambda;&epsilon;&tau;ό&sigmaf;]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[&Tau;&omicron; &alpha;&pi;&alpha;&iota;&tau;&omicron;ύ&mu;&epsilon;&nu;&omicron; &pi;&rho;ό&sigma;&theta;&epsilon;&tau;&omicron; &gamma;&iota;&alpha; &nu;&alpha; &lambda;&epsilon;&iota;&tau;&omicron;&upsilon;&rho;&gamma;&omicron;ύ&nu; &tau;&alpha; &upsilon;&pi;ό&lambda;&omicron;&iota;&pi;&alpha; &pi;&rho;ό&sigma;&theta;&epsilon;&tau;&alpha; &pi;&alpha;&rho;&alpha;&gamma;&omega;&gamma;ή&sigmaf; &mu;&alpha;&sigmaf;]]></description>
    <author><![CDATA[tapanda.gr]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>0</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>