/* Project specific colors */
$primary_blue:#0076a8;
$primary_green:#64a70b;
/* Custom variables */
$font_size:1rem;
$spacer:.25rem;
$margin_1:$spacer;
$margin_2:$spacer*2;
$margin_3:$spacer*3;
$margin_4:$spacer*4;

$padding_1:$spacer;
$padding_2:$spacer*2;
$padding_3:$spacer*3;
$padding_4:$spacer*4;

$header_bottom_height:3.75rem;
$header_bottom_line_height:2.5;

$drawer_width:20rem;
